.row-header {
	margin: 0 auto;
	padding: 0px auto;
}
.row-content {
	margin: 0 auto;
	padding: 50px 0px;
	min-height: 400px;
}
.footer {
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px;
}
.jumbotron {
	padding: 70px 30px;
	margin: 0px auto;
	background: #9575CD;
	color: floralwhite;
}
.address {
	font-size: 80%;
	margin: 0px auto;
	padding: 20px 0px;
}
body { 
	padding: 50px 0 0 0;
	z-index: 0;
}
.navbar-dark, .bg-primary {
	background: #512DA8 !important;
}
.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.carousel {
	background: #512DA8;
}
.carousel-item {
	height: 300px;
}
.carousel-item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
}
#carouselButton {
	right: 0;
	position: absolute;
	bottom: 0;
	z-index: 1;
}